<div class="conteiner">
 <!-- <h1>Comunicacion entre componentes</h1>
 <input type="text" [placeholder]="texto" [disabled]="isDisabled"> -->
 <!-- <br>
  <button (click)="cambiarTexto()">Click me!</button>
  <br> 
  <h2>{{ texto }}</h2>

  <app-card [(nuevoTexto)]="texto"></app-card> -->
  
  <!-- <h1>Comunicacion entre componentes</h1>
  <h2 *ngIf="t">{{ texto }}</h2>
  <h2 style="color : red;" *ngIf="texto == ''">Por favor ingrese un texto</h2>
  <button (click)="toggle()">toogle</button>
  <app-card [(nuevoTexto)]="texto"></app-card>
   
</div> -->


<!-- <h1>Mi app en angular</h1> -->
<!-- <input type="text"[(ngModel)]= "texto" (ngModelChange)="onChange($event)"> -->
<!-- <app-inicio></app-inicio>
 <div class="row">
       <div *ngFor="let usuario of listausuarios" class="col-md-4">
            <app-card [user]="usuario"></app-card>
        </div>
      </div> -->

 <!-- <app-listado-usuarios></app-listado-usuarios>      -->
 <router-outlet></router-outlet>
</div> 