<!-- <p>{{ textCard }}</p> -->
<!-- <input type="text" [value]="nuevoTexto" #idInput>
<button (click)="CambiarTextoPadre(idInput.value)">Cambiar texto</button> -->

 <div class="card text-center" style="width: 18rem;">
    
    <div class="card-body">
      <h5 class="card-title">{{ nombre}}</h5>
      <button class="btn btn-primary" (click)="verDetalles()">Detalles</button>
      <!-- <button routerLink="usuario/{{ this.id}}">Detalles</button> -->
      <!-- <p class="card-text" [ngSwitch]="gender">
        {{ email }}
      <br>
      <span *ngSwitchCase="'male'" class="badge bg-dark">
        {{ gender }}  
      </span>
      <span *ngSwitchCase="'female'" class="badge bg-primary">
        {{ gender }}  
      </span>
      <span *ngSwitchDefault class="badge bg-warning">
        Indefinido 
      </span> 
    </p> -->
    </div>
  </div> 


  <!-- <span [ngClass]="genero == 'Masculino' ? 'badge bg-dark masculino' : 'badge bg-primary femenino' ">
    {{ genero }}  
  </span> -->
  